html {
  font-size: 16px;
}

@font-face {
  font-family: 'monotonregular';
  src: url('monoton-regular-webfont.woff2') format('woff2'),
       url('monoton-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'pt_sans_narrowregular';
  src: url('ptsansnarrow-regular-webfont.woff2') format('woff2'),
       url('ptsansnarrow-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

h1 { font-family: 'monotonregular';}

p { font-family: 'pt_sans_narrowregular';}