html {
  font-size: 16px;
}

/* font face code */
@font-face {
  font-family: 'monotonregular';
  src: url('monoton-regular-webfont.woff2') format('woff2'),
       url('monoton-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'pt_sans_narrowregular';
  src: url('ptsansnarrow-regular-webfont.woff2') format('woff2'),
       url('ptsansnarrow-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


/* font is applied to the actual website */
h1 { font-family: 'monotonregular';}
p { font-family: 'pt_sans_narrowregular';}

.skills {
  text-align: center;
}

.projects {
  text-align: center;
}


/* add a black background to top nav */
.topnav {
  overflow: hidden;
  background-color: #F2F2E4;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  left: 0; /* Position the navbar at the left of the page */
  width: 100%; /* Full width */
  z-index: 999; /* Set a high z-index value to make the navbar appear on top */
  margin: 0;
  padding: 0;
}

/* style the links inisde the nav bar */
.topnav a {
  float: left;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


/* change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* add a color to the active/current link */
.topnav a.active {
  background-color: #9AC7D9;
  color: white;
}


/* style inputs with type="text", select elements and text areas */
input [type=text], select, textarea {
  width:100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px; 
  resize: vertical 
}

/* style submit button*/
input [type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* when moving the mouse over submit make it a darker color*/
input [type=submit]:hover {
  background-color: #45a049;
}

/* add background color and some padding around form*/
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.Background-fixed {
  background-attachment: fixed;
  background-position: center;
}
.ImageBackgroundWrap {
  position: relative;
  z-index: 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.ImageInnerWrap {
/*  position: relative;
  z-index: 223;*/
  max-width: 900px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
}
.TextBackground {
 background-color: rgba(154,199,217, 0.83);
 opacity: 0.5;
  
  padding: 13%;
  color: white;
  text-align: center;
}

/**/

footer {
  padding: 50px 0px 0px 0px;
}

footer .social li {
  display: inline;
  margin-left: 20px;
}

footer .social li a {
  font-size: 1.25em;
  color: #999999;
  display: inline-block;
  width: 30px;
  height: 30px;
  background-size: cover;
}

@media (max-width: 768px) {
  footer .social li a {
    font-size: 1em;
    width: 20px;
    height: 20px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  footer .social li:nth-child(1) a {
    background-image: url(gmail.png);
  }
  footer .social li:nth-child(2) a {
    background-image: url(insta.png);
  }
  footer .social li:nth-child(3) a {
    background-image: url(twitter.png);
  }
  footer .social li:nth-child(4) a {
    background-image: url(linkedin.png);
  }
}

@media (min-width: 1025px) {
  footer .social li:nth-child(1) a {
    background-image: url(gmail.png);
  }
  footer .social li:nth-child(2) a {
    background-image: url(insta.png);
  }
  footer .social li:nth-child(3) a {
    background-image: url(twitter.png);
  }
  footer .social li:nth-child(4) a {
    background-image: url(linkedin.png);
  }
}

/**/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --color: rgba(30, 30, 30);
  --bgColor: rgba(245, 245, 245);
  min-height: 100vh;
  display: grid;
  align-content: center;
  gap: 2rem;
  padding: 2rem;
  font-family: "Poppins", sans-serif;
  color: var(--color);
  background: var(--bgColor);
}

h2 {
  text-align: center;
}

ul {
  --col-gap: 2rem;
  --row-gap: 2rem;
  --line-w: 0.25rem;
  display: grid;
  grid-template-columns: var(--line-w) 1fr;
  grid-auto-columns: max-content;
  column-gap: var(--col-gap);
  list-style: none;
  width: min(60rem, 90%);
  margin-inline: auto;
}

/* line */
ul::before {
  content: "";
  grid-column: 1;
  grid-row: 1 / span 20;
  background: rgb(225, 225, 225);
  border-radius: calc(var(--line-w) / 2);
}

/* columns*/

/* row gaps */
ul li:not(:last-child) {
  margin-bottom: var(--row-gap);
}

/* card */
ul li {
  grid-column: 2;
  --inlineP: 1.5rem;
  margin-inline: var(--inlineP);
  grid-row: span 2;
  display: grid;
  grid-template-rows: min-content min-content min-content;
}

/* date */
ul li .date {
  --dateH: 3rem;
  height: var(--dateH);
  margin-inline: calc(var(--inlineP) * -1);

  text-align: center;
  background-color: var(--accent-color);

  color: white;
  font-size: 1.25rem;
  font-weight: 700;

  display: grid;
  place-content: center;
  position: relative;

  border-radius: calc(var(--dateH) / 2) 0 0 calc(var(--dateH) / 2);
}

/* date flap */
ul li .date::before {
  content: "";
  width: var(--inlineP);
  aspect-ratio: 1;
  background: var(--accent-color);
  background-image: linear-gradient(rgba(0, 0, 0, 0.2) 100%, transparent);
  position: absolute;
  top: 100%;

  clip-path: polygon(0 0, 100% 0, 0 100%);
  right: 0;
}

/* circle */
ul li .date::after {
  content: "";
  position: absolute;
  width: 2rem;
  aspect-ratio: 1;
  background: var(--bgColor);
  border: 0.3rem solid var(--accent-color);
  border-radius: 50%;
  top: 50%;

  transform: translate(50%, -50%);
  right: calc(100% + var(--col-gap) + var(--line-w) / 2);
}

/* title descr */
ul li .title,
ul li .descr {
  background: var(--bgColor);
  position: relative;
  padding-inline: 1.5rem;
}
ul li .title {
  overflow: hidden;
  padding-block-start: 1.5rem;
  padding-block-end: 1rem;
  font-weight: 500;
}
ul li .descr {
  padding-block-end: 1.5rem;
  font-weight: 300;
}

/* shadows */
ul li .title::before,
ul li .descr::before {
  content: "";
  position: absolute;
  width: 90%;
  height: 0.5rem;
  background: rgba(0, 0, 0, 0.5);
  left: 50%;
  border-radius: 50%;
  filter: blur(4px);
  transform: translate(-50%, 50%);
}
ul li .title::before {
  bottom: calc(100% + 0.125rem);
}

ul li .descr::before {
  z-index: -1;
  bottom: 0.25rem;
}

@media (min-width: 40rem) {
  ul {
    grid-template-columns: 1fr var(--line-w) 1fr;
  }
  ul::before {
    grid-column: 2;
  }
  ul li:nth-child(odd) {
    grid-column: 1;
  }
  ul li:nth-child(even) {
    grid-column: 3;
  }

  /* start second card */
  ul li:nth-child(2) {
    grid-row: 2/4;
  }

  ul li:nth-child(odd) .date::before {
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    left: 0;
  }

  ul li:nth-child(odd) .date::after {
    transform: translate(-50%, -50%);
    left: calc(100% + var(--col-gap) + var(--line-w) / 2);
  }
  ul li:nth-child(odd) .date {
    border-radius: 0 calc(var(--dateH) / 2) calc(var(--dateH) / 2) 0;
  }
}

/* Add code below to position the CSS after the build image */
.ImageBackgroundWrap {
  position: relative;
  z-index: 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.ImageInnerWrap {
  max-width: 900px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.TextBackground {
  background-color: rgba(154, 199, 217, 0.83);
  opacity: 0.5;
  padding: 13%;
  color: white;
  text-align: center;
}

/* Adjustments for the timeline */
ul {
  position: relative;
  z-index: 1;
}

ul li .date::after {
  right: calc(100% + var(--col-gap) + var(--line-w) / 2);
}

ul li:nth-child(odd) .date::after {
  left: calc(100% + var(--col-gap) + var(--line-w) / 2);
}

ul li:nth-child(odd) .date {
  border-radius: 0 calc(var(--dateH) / 2) calc(var(--dateH) / 2) 0;
}
